:root {
  --verde-cooled: #4CAF50;
  --azul-cooled: #AEDFF7;
  --gris-fondo: #F4F4F4;
  --gris-texto: #213547;
  --fuente-principal: 'Poppins', system-ui, sans-serif;

  font-family: var(--fuente-principal);
  background-color: var(--gris-fondo);
  color: var(--gris-texto);
  line-height: 1.6;
  font-weight: 400;
}

a {
  color: var(--verde-cooled);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #388E3C;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--gris-fondo);
  color: var(--gris-texto);
  font-family: var(--fuente-principal);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--fuente-principal);
  background-color: var(--verde-cooled);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #388E3C;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#dropdown-custom-add::after {
  display: none !important;
}